<div class="home">
  <div class="nav-container">
    <a routerLink="/home">
      <span class="nav-caption">Home</span>
    </a>
    <a routerLink="/people">
      <span class="nav-caption">Characters</span>
    </a>
    <a routerLink="/films">
      <span class="nav-caption">Films</span>
    </a>
    <a routerLink="/planets">
      <span class="nav-caption">Planets</span>
    </a>
    <a routerLink="/starships">
      <span class="nav-caption">Starships</span>
    </a>
    <a routerLink="/species">
      <span class="nav-caption">Species</span>
    </a>
    <a routerLink="/vehicles">
      <span class="nav-caption">Vehicles</span>
    </a>
  </div>
</div>
