<div>
  <mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
       <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/people" (click)="onSidenavClose()">
         <span class="nav-caption">Characters</span>
    </a>
    <a mat-list-item routerLink="/films" (click)="onSidenavClose()">
       <span class="nav-caption">Films</span>
    </a>
    <a mat-list-item routerLink="/planets" (click)="onSidenavClose()">
      <span class="nav-caption">Planets</span>
  </a>
  <a mat-list-item routerLink="/starships" (click)="onSidenavClose()">
    <span class="nav-caption">Starships</span>
</a>
<a mat-list-item routerLink="/species" (click)="onSidenavClose()">
  <span class="nav-caption">Species</span>
</a>
<a mat-list-item routerLink="/vehicles" (click)="onSidenavClose()">
<span class="nav-caption">Vehicles</span>
</a>
  </mat-nav-list>
</div>
